{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="static/register/register.css" />
{% endblock %}

{% block body %}
<div class="background">
  <div class="container">
    <form method=post class="content">
      <dl>
        {{ render_field(form.username) }}
      </dl>
      <p><input type=submit value=Register class="btn">
    </form>
  </div>
</div>
{% endblock %}